@model IEnumerable<Repositories.Data.Models.UserCertificate>
@{
    ViewData["Title"] = "مدارک";
    Layout = "~/Areas/Raja/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 style="align-content: center">Raja Test Application</h1>
    <hr />

    <div style="white-space: nowrap" class="container mt_30" dir="rtl">
        <div class="row">
            <div dir="rtl" class="col mtb_20">
                <!-- contact  -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-3">
                            @*<a style="color: #FFFFFF" asp-action="Create" class="btn btn-primary">ساخت مدرک جدید</a>*@
                            <h2>مدارک @ViewBag.UserName</h2>
                        </p>
                        <div class="table-responsive">
                            <table id="userTable" dir="rtl" class=" table table-style">
                                <thead class="table-dark" dir="rtl">
                                    <tr>
                                        <th dir="rtl">
                                            عنوان مدرک
                                        </th>
                                        <th>
                                            نوع مدرک
                                        </th>
                                        <th>
                                            عملیات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Certs)
                                    {
                                        <tr>

                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.TypeName
                                            </td>

                                            <td class="col">
                                                <a href="@Url.Action("AssignCert", new { userId = ViewBag.UserId , certId = item.Id })" class="btn btn-sm btn-success">اضافه کردن به کاربر</a>
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @item.CertificateName
                                            </td>
                                            <td>
                                                @item.CertificateTypeName
                                            </td>

                                            <td class="col">
                                                <a href="@Url.Action("UnAssignCert", new { userId = ViewBag.UserId , certId = item.CertificateId })" class="btn btn-sm btn-danger">حذف از کاربر</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
